[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/autophugo"]
	path = themes/autophugo
	url = git@github.com:kc0bfv/autophugo.git
